In [6]:
import pandas as pd

In [ ]:
"""На базе EDA создана функция preprocessing из скрипта preprocessing.py"""

In [7]:
interview_x = pd.read_csv("/Users/victorialokteva/Downloads/interviewdata/interview.X.csv")
interview_y = pd.read_csv("/Users/victorialokteva/Downloads/interviewdata/interview.y.csv")
interview_x.shape, interview_y.shape

((955239, 10), (15359, 2))

In [8]:
interview_x.head()

,reg_time,uid,fc_imp_chk,fc_time_chk,utmtr,mm_dma,osName,model,hardware,site_id
0,2021-07-21 19:25:47,00000000-0000-0001-6268-955448351062,0,7,6,530,iOS,iPhone XR,Mobile Phone,soaps.sheknows.com
1,2021-07-21 19:25:51,00000000-0000-0001-6268-955448381600,0,7,6,612,iOS,iPhone,Mobile Phone,www.forbes.com
2,2021-07-21 19:25:52,00000000-0000-0001-6268-955460621935,0,7,6,524,Android,SM-G998U,Mobile Phone,www.parents.com
3,2021-07-21 19:26:05,00000000-0000-0001-6268-955631601064,0,7,6,659,iOS,iPhone,Mobile Phone,livingforthesunshine.com
4,2021-07-21 19:26:05,00000000-0000-0001-6268-955659731502,0,7,6,505,iOS,iPhone,Mobile Phone,www.pro-football-reference.com

In [9]:
interview_y.head()

                                    uid     tag
0  00000000-0000-0001-6268-860993461181  fclick
1  00000000-0000-0001-6268-861002231327  fclick
2  00000000-0000-0001-6268-861081671348  fclick
3  00000000-0000-0001-6268-869788991321  fclick
4  00000000-0000-0001-6268-869788451455  fclick

In [10]:
duplicate_count_y = interview_y.duplicated().sum()
duplicate_count_x = interview_x.duplicated().sum()
print(f"interview_x содержит {duplicate_count_x} дупликатов")
print(f"interview_y содержит {duplicate_count_y} дупликатов")

interview_x содержит 24 дупликатов
interview_y содержит 2882 дупликатов

In [11]:

for col in interview_x.columns:
    if interview_x[col].isna().sum() > 0:
        print(f"В колонке {col} {interview_x[col].isna().sum()}  нанов")

В колонке osName 7892  нанов
В колонке model 8395  нанов
В колонке hardware 8185  нанов

In [13]:
# Проверим типы данных. Так как в 3 колонках есть наны, то в них появляется float
for col in interview_x.columns:
    print(col)
    types_in_column = interview_x[col].apply(type)
    print(types_in_column.unique())

    print()

reg_time
[<class 'str'>]

uid
[<class 'str'>]

fc_imp_chk
[<class 'int'>]

fc_time_chk
[<class 'int'>]

utmtr
[<class 'int'>]

mm_dma
[<class 'int'>]

osName
[<class 'str'> <class 'float'>]

model
[<class 'str'> <class 'float'>]

hardware
[<class 'str'> <class 'float'>]

site_id
[<class 'str'>]

In [12]:
# Проверим ли пападают ли данные некоторык колонок в диапазон, указанный в описании данных
print(all(value in range(-1, 5) for value in interview_x['fc_imp_chk'].unique()))
print(all(value in range(-1, 8) for value in interview_x['fc_time_chk'].unique()))
print(all(value in range(-1, 8) for value in interview_x['utmtr'].unique()))

True
True
True

In [14]:
interview_x['mm_dma'].value_counts()
# В колонке mm_dma есть редкие значения -- при препроцессинге объединим их в отдельную категорию -1 (так как все реальные значения неотрицательны)

501    153869
524     96101
517     55164
0       46178
505     43400
        ...
810         1
771         1
744         1
813         1
636         1
Name: mm_dma, Length: 178, dtype: int64

In [16]:
#Аналогичная ситуация с site_id -- есть сайты, встречающиеся всего 1 раз, тоже будем объединять такие в отдельную категорию
interview_x['site_id'].value_counts().tail()

www.lefigaro.fr        1
rayanworld.com         1
www.routesnorth.com    1
mvlehti.net            1
www.u-tv.ru            1
Name: site_id, dtype: int64